$black:     #0A1021;
$white:     #FFFFFF;

$gray:            #D9D9D9;
$gray-100:        #FAFAFE;
$gray-200:        #B3B3B3;

$purple:          #4329D2;
$purple-200:      #2C179F;

$success:         #42942D;
$error:           #C81A1A;

$border-radius:     .8rem !default;

:export {
  black: $black;
  white: $white;

  gray: $gray;
  gray100: $gray-100;
  gray200: $gray-200;

  purple: $purple;
  purple200: $purple-200;

  success: $success;
  error: $error;

  borderRadius: $border-radius;
}
